# Gradle
.gradle
gradle.properties

# Builds
build/
!**/src/main/**/build/
!**/src/test/**/build/
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IDEA configuration
.idea/*.xml
!.idea/gradle.xml
!.idea/misc.xml
!.idea/vcs.xml
*.iws
*.iml
*.ipr